
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load widget_tweaks %}
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link href="{% static 'users/login/css/login.css' %}" rel="stylesheet">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
  </head>
  <body>
    <div class ="animated slideInDown">
      <div style = "height: 100vh" >
        <div id ='login'>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} "> {{ message }}</div>
            {% endfor %}
          {% endif %}
          <form class="text-center border border-light p-5" method = "post">
            {% csrf_token %}
            <p class="h4 mb-4">Sign in</p>
              {% if form.errors %}
                <p>Pleas enter a correct username or password</p>
              {% endif %}

              {{ form.username|add_class:'form-control mb-4' | attr:"placeholder = Username" }}

              {{ form.password|add_class:'form-control mb-4' | attr:"placeholder = Password" }}
              <div class="d-flex justify-content-around">
                  <div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                          <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                      </div>
                  </div>
                  <div>
                      <a href="">Forgot password?</a>
                  </div>
              </div>
              <div >
                <br>
              </div>
              <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
              <div class="text-center">
                <p>Dont have an account? <a href="{% url 'register' %}">Register</a></p>
              </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
